* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(0, 0, 64, 0.809);
}

nav {
  background-color: #071952;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px 20px;
  width: 100%;
  z-index: 9999;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  color: aqua;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

h6 a {
  font-size: 20px;
}

.nav-links ul {
  display: flex;
}

.nav-list {
  margin-right: 20px;
}

.nav-list a:hover {
  text-decoration-line: underline;
  text-underline-offset: 8px;
  text-decoration-color: aqua;
}

.social a {
  background-color: aqua;
  color: #331d2c;
  padding: 7px;
  font-size: 15px;
  border-radius: 25px;
}

.social a:hover {
  background-color: #0b666a;
  color: #d4deff;
}

/* Homepage section */

.homepage {
  background-image: linear-gradient(
      rgba(3, 148, 145, 0.794),
      rgba(0, 0, 64, 0.809)
    ),
    url(./images/image-2.jpeg);
  width: 100vw;
  height: 91vh;
  background-size: cover;
  position: relative;
}

.search-input {
  position: absolute;
  bottom: 19rem;
  left: 23.5rem;
  text-align: center;
}

.search-input h1 {
  color: #fff;
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.search-input p {
  color: rgb(195, 195, 195);
  padding: 1rem;
  font-weight: bold;
}

.search-input input {
  width: 25rem;
  height: 2.5rem;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
}

.search-input button {
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.search-input button:hover {
  background-color: aqua;
  color: #071952;
  cursor: pointer;
}

/* footer */
.footer {
  position: absolute;
  height: 5rem;
  width: 100vw;
  background-color: #071952;
  text-align: center;
  border-top-right-radius: 10rem;
  border-top-left-radius: 10rem;
}

.footer p {
  margin-top: 2.25rem;
  color: grey;
}

.footer p a {
  color: aqua;
  font-style: italic;
}